<div class="row row-cols-2 row-cols-md-4 g-2">
    <div *ngFor="let productList of products">
        <div class="col">
            <div class="card" routerLink="/products/{{ productList.id }}">
                <img src="{{productList.imageUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ productList.name }}</h5>
                    <p class="card-text">{{ productList.unitPrice | currency:'USD' }}</p>
                    <p class="card-text">Units In Stock: {{ productList.unitsInStock}}</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="d-flex justify-content-end">
    <div class="p-2 bd-highlight">
        <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
            (pageChange)="listProducts()">
        </ngb-pagination>
    </div>

    <div class="p-2 bd-highlight">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <span>Page Size</span>
                </div>
                <div class="col-6">
                    <select class="form-select">
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If products is empty, then display a message -->
<div class="col-md-12" *ngIf="products?.length == 0">
    <img class="img-fluid mx-auto d-block" src="../../../assets/images/NoProductFound.png" alt="">
</div>