<div class="d-flex flex-wrap">
    <div *ngFor="let productList of products">
            <div class="card h-100" style="width: 19rem;">
                <img src="{{productList.imageUrl}}" class="card-img-top" alt="noodle image">
                <div class="card-body d-flex flex-column">
                    <h6 class="card-title" routerLink="/products/{{ productList.id }}">{{ productList.name }}</h6>
                    <p class="card-text">{{ productList.unitPrice | currency:'USD' }}</p>
                    <button (click)="addToCart(productList)" class="align-self-begin btn btn-primary rounded-pill">Add To Cart</button>
                </div>
            </div>
    </div>
</div>

<!-- Pagination -->
<div class="d-flex justify-content-end">
    <div class="p-2 bd-highlight">
        <ngb-pagination [(page)]="thePageNumber" 
                        [pageSize]="thePageSize" 
                        [collectionSize]="theTotalElements" 
                        [maxSize]="5" 
                        [boundaryLinks]="true"
                        (pageChange)="listProducts()">
        </ngb-pagination>
    </div>

    <div class="p-2 bd-highlight">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <span>Page Size</span>
                </div>
                <div class="col-6">
                    <select class="form-select" #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                        <option selected="true">2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If products is empty, then display a message -->
<div class="col-md-12" *ngIf="products?.length == 0">
    <img class="img-fluid mx-auto d-block" src="../../../assets/images/NoProductFound.png" alt="">
</div>

<footer class="container p-4 rounded">
    <div class="d-lg-flex justify-content-between">
      <div class="copyright">
        <p>Credit: <a href="https://www.flaticon.com/free-icons/noodles" title="noodles icons">Noodles icons created by Good Ware - Flaticon</a></p>
        <p>Credit: <a href="https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Freepik - Flaticon</a></p>
      </div>
    </div>
</footer>