<div class="login-status-header">
    <div class="login-status-info" *ngIf="isAuthenticated && userFullName">
        Welcome back {{ userFullName }}
    </div>
    <button class="security-btn" *ngIf="!isAuthenticated" routerLink="/login">Login</button>
    <button class="security-btn" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
    <button class="security-btn ml-1" routerLink="/members">Member</button>
    <button class="security-btn ml-1" routerLink="/order-history">Orders</button>
</div>
