<form [formGroup]="checkoutFormGroup" class="container" (ngSubmit)="onSubmit()">
  <h4 class="my-4">
    Checkout
  </h4>
  <!-- Customer Form Group -->
  <div class="form-row" formGroupName="customer">
    <div class="col-md-6 form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="firstName">
    </div>
    <div class="col-md-6 form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="lastName">
    </div>
  </div>

  <div class="form-group" formGroupName="customer">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email" required>
  </div>

  <!-- Shipping Address Form Group -->
  <div class="form-group" formGroupName="shippingAddress">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="adress" placeholder="1234 Main Street" formControlName="street"
      required>
  </div>
  <div class="row" formGroupName="shippingAddress">
    <div class="col-md-4 form-group">
      <label for="city">City</label>
      <select type="text" class="form-control" id="city" formControlName="city">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="city">State</label>
      <select type="text" class="form-control" id="state" formControlName="state">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="country">Country</label>
      <select type="text" class="form-control" id="country" formControlName="country">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="postcode">Postcode</label>
      <input type="text" class="form-control" id="zipcode" formControlName="zipCode" required>
    </div>
  </div>

  <hr>
  <!-- Add check box to copy shipping to billing -->
  <div class="input-space">
    <label for="" class="au-checkbox">
      <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
      <span> Billing Address same as Shipping Address</span>
    </label>
  </div>

  <!-- Billing Address Form Group -->
  <div class="form-group mt-4" formGroupName="billingAddress">
    <label for="address">Billing Address</label>
    <input type="text" class="form-control" id="address" placeholder="1234 Main Street" formControlName="street"
      required>
  </div>

  <div class="row" formGroupName="shipping">
    <div class="col-md-4 form-group">
      <label for="city">City</label>
      <select type="text" class="form-control" id="city" formControlName="city">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="city">State</label>
      <select type="text" class="form-control" id="state" formControlName="state">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="country">Country</label>
      <select type="text" class="form-control" id="country" formControlName="country">
        <option value>Choose...</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <label for="postcode">Postcode</label>
      <input type="text" class="form-control" id="zipcode" formControlName="zipCode" required>
    </div>
  </div>
  <hr>

  <!-- Credit Card Payment -->
  <h4 class="mb-4">Payment: Credit Card</h4>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="credit" name="payment-method" checked required>
    <label for="credit" class="form-check-label">Credit Card</label>
  </div>
  <div class="row mt-4" formGroupName="creditCard">
    <div class="col-md-6 form-group">
      <label for="card-name">Name on card</label>
      <input type="text" class="form-control" id="card-name" formControlName="nameOnCard" required>
    </div>
    <div class="col-md-6 form-group">
      <label for="card-no">Card Number</label>
      <input type="text" class="form-control" id="card-no" formControlName="cardNumber" required>
    </div>
    <div class="col-md-6 form-group">
      <label for="card-no">Card Type</label>
      <select type="text" class="form-control" id="country" formControlName="cardType">
        <option>VISA</option>
        <option>MASTERCARD</option>
      </select>
    </div>
  </div>
  <div class="form-row" formGroupName="creditCard">
    <div class="col-md-5 form-group">
      <label for="expiration">Expire Month</label>
      <select type="text" class="form-control" id="country" formControlName="expirationMonth">
        <option>TO-DO</option>
      </select>
    </div>
    <div class="col-md-5 form-group">
      <label for="expiration">Expire Year</label>
      <select type="text" class="form-control" id="country" formControlName="expirationYear">
        <option>TO-DO</option>
      </select>    </div>
    <div class="col-md-5 form-group">
      <label for="ccv-no">Security Code</label>
      <input type="number" class="form-control" id="sec-no" formControlName="securityCode" required>
    </div>
  </div>
  <hr>

  <!-- Order Detail -->

  <!-- Submit Button -->
  <button class="btn btn-primary bt-lg btn-block" type="submit">Purchase</button>
</form>