<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Noodle Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- category list component -->
      <app-product-category-menu></app-product-category-menu>
      <!-- search component -->
      <app-search></app-search>

      <app-cart-status></app-cart-status>
      <!-- <form class="d-flex">
        <button>$34.22</button> <button>2</button>
        <i class="fa-solid fa-cart-shopping"></i>
      </form> -->
    </div>
  </div>
</nav>

<div class="container">
  <!-- Main Content -->
  <!-- Router-outlet acts as a placeholder
  Renders the desired component based on route -->
  <router-outlet></router-outlet>

</div>